.intro-image {
  width: 100%;
  height: auto;
  //margin-top: -40px;
}
.intro-image-absolute {
  max-width: none;

  padding: 0;
  margin-bottom: 30px;
  @include media-breakpoint-up(sm) {
  }
  @include media-breakpoint-up(md) {
    position: absolute;
    object-view-box: xywh(800px 0px 50% 2300px);
  }
  @include media-breakpoint-up(lg) {
    position: absolute;
    object-view-box: xywh(0px 0px 100% 2300px);
  }
  @include media-breakpoint-up(xl) {
    object-view-box: xywh(0px 0px 100% 2300px);
  }
}
.intro-image-hide-mobile {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}
